.DashboardListEntries {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  height: 100%;

  &-list {
    padding-left: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    &-item {
      display: inline-block;
      width: 100%;
      height: 50vw;
      margin-top: 20px;
      margin-bottom: 20px;

      @include for-big-phone-up {
        width: 50%;
        height: 25vw;
      }

      @include for-tablet-portrait-up {
        max-height: 175px;
      }

      @include for-desktop-up {
        @include for-medium-window-up {
          max-height: 250px;
        }
      }
    }

    @include for-tablet-portrait-up {
      width: 80%;
    }

    @include for-tablet-landscape-up {
      width: 70%;
    }
  }
  
  &.is-empty {
    &::before {
      content: "";
      z-index: -1;
      background: url("/board_1.png") no-repeat center;
      background-size: 166px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 67%;
    }
  }

  &-error-message, &-message {
    max-width: 275px;
    float: right;
    color: $red;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: $fontSecondary;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;

    @include for-tablet-portrait-up {
      max-width: 500px;
      padding-right: 10%;
    }
  }

  &-error-button {
    display: block;
    border: none;
    outline: none;
    position: absolute;
    top: 135px;
    right: 67px;
    background-color: $red;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: $fontSecondary;
    padding: 5px 8px;
    margin-top: 10px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $lightred;
    }
  }

  @include for-medium-window-up {
    padding-top: 75px;
  }
}