.ForgotPasswordForm {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;

  .Input {
    position: relative;
    margin-top: 15px;

    input {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 1px;
      border: none;
      outline: none;
      height: 34px;
      background: none;
      border-bottom: 0.5px solid $blue;
      color: black;
      margin: 5px 0 10px;
    }
  }

  .Input label, &-message {
    display: block;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blue;
  }

  button {
    display: block;
    border: none;
    outline: none;
    min-width: 175px;
    position: relative;
    background-color: $blue;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    text-transform: uppercase;
    -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
    padding: 0.3em 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 0.3em;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: $fontSecondary;
    
    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $lightgreen;
      text-shadow: 1px 1px rgba(0,0,0,0.2);
    }

    &:disabled {
      cursor: unset;
      background-color: $palered;
      letter-spacing: unset;
      font-weight: 500;
      text-shadow: unset;
    }
  }
}