.LogoutUser-warning {
  z-index: 15;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &-overlay {
    position: fixed;
    z-index: 3;
    background: black;
    opacity: 0.75;
    width: 100%;
    height: 100%;
  }

  &-modal {
    position: relative;
    top: 55px;
    z-index: 4;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.5);

    &-message {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      max-height: calc(100% - 36px);
      overflow: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding: 30px;
      color: $berry;
      letter-spacing: 2px;
      font-size: 18px;
      font-family: $fontSecondary;
      font-weight: 500;
    }

    &-buttons {
      position: relative;
      left: 0;
      width: 100%;
  
      button {
        position: relative;
        margin: 0;
        padding: 10px;
        outline: none;
        border: none;
        color: $berry;
        background-color: white;
        font-size: 13px;
        letter-spacing: 1px;
        width: 50%;
        right: 0;
        -webkit-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
            -o-transition: all 0.1s linear;
                transition: all 0.1s linear;
  
        &:hover,
        &:focus {
          cursor: pointer;
          background-color: $berry;
          color: white;
        }

        &:first-of-type {
          border-bottom-left-radius: 4px;
        }
  
        &:nth-of-type(2) {
          border-left: 0.5px solid $berry;
          border-bottom-right-radius: 4px;
        }
      }
    }

    @include for-tall-window-up {
      @include for-tablet-portrait-up {
        top: 100px;
        max-width: 350px;
      }
    }
  }
}