.PlusIcon {
  all: unset;
  cursor: pointer;
  width: 70px;
  height: 70px;

  &-circle {
    width: 100%;
    height: 100%;
    background-color: $purple;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 50px;
    line-height: 67px;
    font-family: $fontSecondary;
    color: white;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
       -moz-transition: all 0.1s ease-in-out;
         -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
  }

  &:focus {
    outline: $blue dotted 1px;
  }

  &:focus,
  &:hover {
    .PlusIcon-circle {
      box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(1.05);
         -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
           -o-transform: scale(1.05);
              transform: scale(1.05);
    }
  }
}